<div class="contenedor">
    <div class="w-full bg-black text-white py-3 px-4 ">
      <div class="flex justify-between px-[2rem]">
        <div class="flex justify-between ">
            <img src="https://i.pinimg.com/originals/f5/85/b9/f585b9e2c54ca8d026d2d21243f616f3.png" class="logo" alt="angular" width="70" height="70">
                <div class="ml-2 mt-3">
                    <a routerLink="" class="mr-2">Inicio</a>
                    <a routerLink="/productos">Productos</a>
                </div>
            
        </div>
        <div class="flex justify-between">
            <div class="ml-2 mt-3">
                <a href="" class="mr-4">Cerrar sesión</a>
                <a>Hola, name</a>
            </div>
        </div>
       </div>
    </div>