<!-- <div class="" *ngFor="let datos of data"> 
    <div class="" *ngIf="(datos.Nombre) === nombre">
        <div class="">
            <div class="">
        <div class="" > 
        <h1 class="text-lg">{{nombre}}</h1>
        <div class="mx-2 rounded"  >
            <img src="{{datos.Imagen}}" alt="" width="350" height="350">
        </div>
         <p>Fruta</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid velit, itaque sed porro rem optio veniam architecto ipsa a magnam distinctio ea eaque impedit quia repellendus, ad id enim eos.</p>
            
        </div>
    </div>
    
</div> -->
<div class="contenedor__body  flex justify-center items-center" >
    <div  *ngFor="let datos of data">
        <div class="contenedor bg-white" *ngIf="(datos.Nombre) === nombre" >
            <h2 class="title text-[2rem] font-semibold" >{{nombre}}</h2>
    
            <div class="contenedor__descriptions">
                <div class="contenedor__img">
                    <img src="{{datos.Imagen}}" alt="">
                </div>
                
                <div class="contenedor__description">
                    <p class="text-[1.1rem]">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis debitis similique ut consectetur tenetur iure itaque quaerat, et maxime id dicta, suscipit ullam optio perspiciatis culpa ab. Harum, eligendi pariatur.
                    </p>
                    <p  class="font-semibold text-[1.4rem] my-3">S/. {{datos.Costo}}</p>
                    <div class="buton">
                        <button type="button" class="text-[1.1rem] bg-red-500 hover:bg-red-600 text-white font-bold py-3 px-5 rounded-full"><i class="bi bi-cart-fill text-[1.5rem] px-1"></i> Agregar a carrito</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>